@font-face {font-family: cq-mono; src: url("./fonts/cq-mono.otf");}
    .cq-mono{font-family: cq-mono}
@font-face {font-family: night-devision; src: url("./fonts/Fontspring-DEMO-podiumsharp-6.13.otf");}
    .night-devision{font-family: night-devision}

html{
    scroll-behavior: smooth;
    overscroll-behavior: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    font-size: 2vh;
    font-family: cq-mono;
    letter-spacing: 0.09em;
    line-height: 1.5em;
    color: #fff;
}
a{
    transition-duration: 0.5s;
    color: #fff;
    text-decoration: none;
}
h1{
    font-family: too-many-cowboys;
    font-size: calc(4vh + 7vw);
    text-align: center;
    line-height: calc(4.1vh + 7vw);
}

.highlight:hover{
    filter: drop-shadow(0 0 1vh #fffa);
    animation-duration: 0s;
}
